// Font
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

@import "./globals.scss";
@import "./header.scss";
@import "./footer.scss";

// Sets h1 to h6 dynamically
$modular-scale: 0;
@each $heading in $headings {
  #{$heading} {
    color: $text-dark;
    font-size: $h1-size - 12 * $modular-scale;
    $modular-scale: $modular-scale + 1;
  }
}

.container {
  width: 100%;
  display: inline-block;
}

.projects {
  width: 35%;
  display: inline-block;
  text-align: left;
  .project {
    display: inline-table;
    margin: 15px;
    .project-top {
      display: flex;
      align-content: flex-end;
      .project-icon {
        // display: inline-flex;
        scale: 200%;
        margin: 10px;
        margin-left: 0;
      }
      .project-title {
        font-size: 32px;
        font-weight: bold;
        // display: ;
      }
      .project-source {
        // display: flex;
      }
    }
  }
}

body {
  font-family: "Ubuntu", sans-serif;
}

img.circular {
  height: 20%;
  width: 20%;
  border-radius: 50%;
}

.content {
  text-align: center;
}

.dark {
  background: #202020;
  color: #b3b9c5;
}

.logo {
  width: 32px;
  height: 32px;
}
