// Font
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

@import "./globals.scss";

// Sets h1 to h6 dynamically
$modular-scale: 0;
@each $heading in $headings {
  #{$heading} {
    // color: $text-dark;
    font: bold;
    font-size: $h1-size - 12 * $modular-scale;
    $modular-scale: $modular-scale + 1;
  }
}

.container {
  width: 100%;
  display: inline-block;
}

body {
  font-family: "Ubuntu", sans-serif;
}

img.circular {
  scale: 25%;
  border-radius: 50%;
}

nav {
  text-align: center;
  overflow: hidden;
  top: 0;
  width: 100%;
  ul {
    text-align: center;
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 30px;
    li {
      display: inline;
      font-size: 17px;
      a {
        color: $text-light;
        text-decoration: none;
        padding: 15px;
        &:hover {
          background-color: #2de2e6;
        }
      }
    }
  }
}

.content {
  text-align: center;
}

.dark {
  background: #202020;
  color: #b3b9c5;
}

.logo {
  width: 32px;
  height: 32px;
}
